// global vars
$mobile-landscape : 1023px;
$mobile-portrait : 567px;

// general styles
* {
	padding    : 0;
	margin     : 0;
	box-sizing : border-box;
}

html {
	-moz-osx-font-smoothing : grayscale;
	-webkit-font-smoothing  : antialiased;
	text-rendering          : optimizeLegibility;

	::selection {
		background : #D1B6AF;
		color      : #FFFFFF;
	}
}

input[type="text"], input[type="password"], select , textarea {
	padding   : 10px 7px;
	font-size : 15px;
	font-family: Arial, sans-serif;
}

button, input[type="submit"] {
	cursor : pointer;
}

// utils
@import "utils/align";
@import "utils/full-width";
@import "utils/maintain-aspect-ratio";

// modules
@import "modules/grid";
@import "modules/is-loading";
@import "modules/magic-tiles";
@import "modules/stock-ticker";